<p id="notice"><%= notice %></p>

<h1>Barbershops</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Endereco</th>
      <th>Capacidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @barbershops.each do |barbershop| %>
      <tr>
        <td><%= barbershop.nome %></td>
        <td><%= barbershop.endereco %></td>
        <td><%= barbershop.capacidade %></td>
        <td><%= link_to 'Show', barbershop %></td>
        <td><%= link_to 'Edit', edit_barbershop_path(barbershop) %></td>
        <td><%= link_to 'Destroy', barbershop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Barbershop', new_barbershop_path %>
